# system
.DS_Store
.DS_Store?
._*

# generated
node_modules/
outputs/
typings/globals

*.log

# codeship key for encrypting builds
codeship.aes

# codeship deployment environment variables
deployment.env

